/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -----------------------------------------------------------------------------------------
// | ESC  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  | P    | DEL  |
// | TAB  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  | BSPC | ALT  |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  | RET  | CTRL |
//                    | L3 | L1/GUI | SHFT |   | SPC | L2 | L4 |
            display-name = "Base";
            bindings = <
   &kp ESC   &kp Q &kp W &kp E &kp R &kp T          &kp Y     &kp U &kp I     &kp O   &kp P    &kp DEL
   &kp TAB   &kp A &kp S &kp D &kp F &kp G          &kp H     &kp J &kp K     &kp L   &kp BSPC &kp LALT
   &kp LCTRL &kp Z &kp X &kp C &kp V &kp B          &kp N     &kp M &kp COMMA &kp DOT &kp RET  &kp RCTRL
                   &mo 3 &lt 1 LGUI &kp LSHFT       &kp SPACE &mo 2 &mo 4
            >;
        };

        nav_layer {
// | SEL ALL | UNDO |      |  UP  | SNIP | PGUP |   |  ^  |  &  |  *  |  `  |  ~  |     |
// | CUT     | COPY | LEFT | DOWN | RGHT | PGDN |   |  /  |  -  |  =  |  :  |  ;  |     |
// | REDO    | PSTE | CAPS | HOME |      | INS  |   |  \  |  _  |  +  | "|" |  ?  |     |
            display-name = "Nav";
            bindings = <
   &kp LC(A) &kp LC(Z) &trans         &kp UP_ARROW &kp LG(LS(S)) &kp PG_UP    &kp CARET &kp AMPS  &kp ASTRK &kp GRAVE &kp TILDE &none
   &kp LC(X) &kp LC(C) &kp LEFT_ARROW &kp DOWN     &kp RIGHT     &kp PG_DN    &kp FSLH  &kp MINUS &kp EQUAL &kp COLON &kp SEMI  &none
   &kp LC(Y) &kp LC(V) &kp CAPS       &kp HOME     &trans        &kp INS      &kp BSLH  &kp UNDER &kp PLUS  &kp PIPE  &kp QMARK &none
                                      &trans       &trans        &trans       &trans    &trans    &trans
            >;
        };

        sym_layer {
// |   |  !  |  @  |  #  |  $  |  %  |   |      | LCLK |  UP  | RCLK |      |      |
// |   |  "  |  [  |  {  |  (  |     |   |      | LEFT | DOWN | RGHT | SCRLU|      |
// |   |  '  |  ]  |  }  |  )  |     |   |      | MCLK |      |      | SCRLD|      |
            display-name = "Sym";
            bindings = <
   &none &kp EXCL &kp AT   &kp HASH &kp DLLR &kp PRCNT     &none &mkp LCLK      &mmv MOVE_UP   &mkp RCLK       &none          &none
   &none &kp DQT  &kp LBKT &kp LBRC &kp LPAR &none         &none &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &msc SCRL_UP   &none
   &none &kp SQT  &kp RBKT &kp RBRC &kp RPAR &none         &none &mkp MCLK      &none          &none           &msc SCRL_DOWN &none
                           &trans   &trans   &trans        &trans &trans        &trans
            >;
        };

        num_layer {
// |   |  /  |  7  |  8  |  9  |  *  |   | F1 | F2 | F3 | F4  | F5  | F6  |
// |   |  -  |  4  |  5  |  6  |  +  |   | F7 | F8 | F9 | F10 | F11 | F12 |
// |   |  0  |  1  |  2  |  3  |  .  |   |    |    |    |     |     |     |
            display-name = "Num";
            bindings = <
   &none &kp FSLH  &kp N7 &kp N8 &kp N9 &kp STAR     &kp F1 &kp F2 &kp F3 &kp F4  &kp F5  &kp F6
   &none &kp MINUS &kp N4 &kp N5 &kp N6 &kp PLUS     &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
   &none &kp N0    &kp N1 &kp N2 &kp N3 &kp DOT      &none  &none  &none  &none   &none   &none
                          &trans &trans &trans       &trans &trans &trans
            >;
        };

        bt_layer {
// |     |     |     |     |     |     |   | BT1 | BT2 | BT3 | BT4 | BT5 | CLR |
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
            display-name = "BT";
            bindings = <
   &none        &none        &none        &none        &none        &none	  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR
   &none        &none        &none        &none        &none        &none         &none        &none        &none        &none        &none        &none
   &none        &none        &none        &none        &none        &none         &none        &none        &none        &none        &none        &none
                                          &trans       &trans       &trans        &trans       &trans       &trans
            >;
        };
    };
};
